<div class="p-4">
    <p-confirmdialog></p-confirmdialog>
    <button
      pButton
      label="Add Structure"
      class="p-button-primary mb-2"
      (click)="openAddDialog()"
    ></button>
    <div>
      <p-table
        [value]="structures()"
        [paginator]="true"
        [rows]="5"
        [loading]="loading"
        [totalRecords]="total"
        (onLazyLoad)="loadStructures($event)"
        [lazy]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-structure let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ structure.name }}</td>
            <td>
              <button
                pButton
                label="Edit"
                class="p-button-rounded p-button-info mr-2"
                (click)="openEditDialog(structure)"
              ></button>
              <button
                pButton
                label="Delete"
                class="p-button-rounded p-button-danger"
                (click)="deleteStructure(structure.id)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Edit Structure Dialog -->
  <p-dialog
    header="Edit Structure"
    [(visible)]="displayEditDialog"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '30rem', height: '30rem' }"
  >
    <div class="mb-4">
      <label class="block text-sm font-medium mb-1">Name</label>
      <input
        type="text"
        pInputText
        [(ngModel)]="selectedStructure.name"
        class="w-full p-2 border rounded"
      />
    </div>

    <div class="text-red-500 text-sm mb-3" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <ng-template pTemplate="footer">
      <button
        pButton
        label="Save"
        icon="pi pi-check"
        (click)="saveStructure()"
      ></button>
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-secondary"
        (click)="displayEditDialog = false"
      ></button>
    </ng-template>
  </p-dialog>

  <!-- Add Structure Dialog -->
  <p-dialog
    [(visible)]="displayAddDialog"
    header="Add Structure"
    [modal]="true"
    [closable]="false"
    [style]="{ width: '30rem', height: '30rem' }"
  >
    <div class="mb-4">
      <label class="block text-sm font-medium mb-1">Name</label>
      <input
        type="text"
        pInputText
        [(ngModel)]="newStructure.name"
        class="w-full p-2 border rounded"
      />
    </div>

    <div class="text-red-500 text-sm mb-3" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        label="Cancel"
        class="p-button-secondary"
        (click)="displayAddDialog = false"
      ></button>
      <button
        pButton
        label="Add"
        class="p-button-primary"
        (click)="addStructure()"
        [disabled]="!(newStructure.name)"
      ></button>
    </ng-template>
  </p-dialog>