<div
      class="flex items-center justify-center h-screen bg-gradient-to-r from-gray-100 to-blue-200"
    >
      <div class="bg-white p-6 rounded-xl shadow-lg w-96 text-center">
        <img src="images/CNI.jpg" alt="Image" class="w-20 mx-auto mb-4" />
        <h2 class="text-2xl font-semibold">Welcome Back</h2>
        <p class="text-gray-600">
          Don't have an account?
          <a [routerLink]="['/signup']" class="text-blue-500">Sign up here</a>
        </p>

        <form
          [formGroup]="loginForm"
          (ngSubmit)="login()"
          class="mt-4 space-y-4"
        >
          <div>
            <label
              for="username"
              class="block text-left font-medium text-gray-700"
              >Username</label
            >
            <input
              pInputText
              id="username"
              formControlName="username"
              class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300"
            />
          </div>

          <div>
            <label
              for="password"
              class="block text-left font-medium text-gray-700"
              >Password</label
            >
            <input
              pInputText
              id="password"
              type="password"
              formControlName="password"
              class="w-full p-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-300"
            />
          </div>

          <div class="text-red-500 text-sm" *ngIf="message">{{ message }}</div>

          <button
            pButton
            type="submit"
            label="Login"
            icon="pi pi-user"
            [disabled]="!loginForm.valid"
            class="w-full bg-blue-500 py-2 rounded-lg hover:bg-blue-600 disabled:bg-gray-400"
          ></button>
        </form>
      </div>
    </div>