<!-- Pie Chart -->
<div class="col-xl-3">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
        </div>
        <div class="card-body">
            <div class="">
              <!-- Canvas for Pie Chart -->
              <canvas id="pieChart" height="540vh"></canvas>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Bar Chart -->
  <div class="col-xl-9">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <!-- Canvas for Bar Chart -->
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>
  </div>
  